TABLE {
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    font-size: medium;
}

body {
    font-family: Arial, arial, sans-serif;
    font-size: medium;
    width: 790px;
}

@media print {
    body {
        font-family: Arial, arial, sans-serif;
        font-size: medium;
        alignment: center;
    }

    @page {
        size: A4;
        margin: 0 5mm 0 15mm; <!-- Отступы при печати top right bottom left -->
    }

    table {
        border-collapse: collapse;
    <!-- Убираем двойные линии между ячейками --> font-size: medium;
        width: 100%;
    }

    header {

    }

    th {
        font-style: normal;
    }
}